{% extends 'base.html.twig' %}

{% block title %}Article!{% endblock %}

{% block body %}
<div>
    <a href="{{path("addArticle")}}">Ajouter Article</a>
    {% for article in articles %}
        <h1> {{ article.titre }} </h1>
        <p> {{article.description}} </p>
        <p> {{article.prix}} </p>
        <a href="{{path('edit',{id: article.id})}}">Edit</a><br>
        <a href="{{path('delete',{id: article.id})}}">Supprimer</a>
    {% endfor %}
</div>
{% endblock %}
